# DESAFIO - Microdados Censo Escolar 2020

In [1]:
# Importa as bibliotecas necessárias
import pandas as pd
import numpy as np
import os
import requests
from io import BytesIO
import mysql.connector
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import create_engine
import dask.dataframe as dd

In [2]:
# Lê o arquivo CSV filtrado e mostra suas primeiras 10 linhas usando DASK DATAFRAME
dados = dd.read_csv('C:\Bootcamp\Datasets\CSV\matricula_sudeste.csv',
                             encoding='Latin1', sep='|',
                   dtype={'CO_MUNICIPIO_END': 'float64',
       'CO_MUNICIPIO_NASC': 'float64',
       'CO_UF_END': 'float64',
       'CO_UF_NASC': 'float64',
       'IN_TRANSPORTE_PUBLICO': 'float64',
       'NU_DIAS_ATIVIDADE': 'float64',
       'NU_DURACAO_TURMA': 'float64',
       'TP_TIPO_LOCAL_TURMA': 'float64',
       'IN_EJA': 'float64',
       'IN_ESPECIAL_EXCLUSIVA': 'float64',
       'IN_PROFISSIONALIZANTE': 'float64',
       'IN_REGULAR': 'float64',
       'NU_DUR_AEE_MESMA_REDE': 'float64',
       'NU_DUR_AEE_OUTRAS_REDES': 'float64',
       'NU_DUR_ATIV_COMP_MESMA_REDE': 'float64',
       'NU_DUR_ATIV_COMP_OUTRAS_REDES': 'float64',
       'TP_ETAPA_ENSINO': 'float64',
       'TP_UNIFICADA': 'float64'})

dados.head(10)

,NU_ANO_CENSO,ID_ALUNO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,...,IN_MANT_ESCOLA_PRIVADA_EMP,IN_MANT_ESCOLA_PRIVADA_ONG,IN_MANT_ESCOLA_PRIVADA_OSCIP,IN_MANT_ESCOLA_PRIV_ONG_OSCIP,IN_MANT_ESCOLA_PRIVADA_SIND,IN_MANT_ESCOLA_PRIVADA_SIST_S,IN_MANT_ESCOLA_PRIVADA_S_FINS,TP_REGULAMENTACAO,TP_LOCALIZACAO_DIFERENCIADA,IN_EDUCACAO_INDIGENA
0,2020,D618ADCDCBB8735AC0A7D8341304F9D4,568,2,2008,12,12,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
1,2020,BD2B0CF1DB2AFED9E906EB6DFAD1DF96,591,1,2007,13,13,1,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
2,2020,2A01C3F6D8336D618DBEFD1FEF5A3EBB,592,9,2006,13,14,1,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
3,2020,730CF88F8F60B12893C3D24AA3D84AEA,593,8,2007,12,13,1,3,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
4,2020,4F39C82CDC8BA1884906720C9694DCAE,594,12,2006,13,14,2,1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
5,2020,7754AC8EC8D71F81E7907F7EE8D53BEF,596,5,2007,13,13,1,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
6,2020,273E77C701A36FA9DD32B9E762D7A396,597,5,2007,13,13,1,1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
7,2020,4FA7B8D9D96A1DD73EFD39EBF7984E1A,600,3,2007,13,13,1,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
8,2020,55B92013A47E777119558DF0A46E3954,601,12,2007,12,13,1,1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
9,2020,F467E7FCC51D31078FF3966E8A1A2031,604,8,2006,13,14,1,2,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0

In [3]:
dados = dados.drop(['ID_ALUNO'], axis=1)

In [ ]:
dict(dados.dtypes)

In [4]:
dados.head(10)

,NU_ANO_CENSO,ID_MATRICULA,NU_MES,NU_ANO,NU_IDADE_REFERENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,CO_PAIS_ORIGEM,...,IN_MANT_ESCOLA_PRIVADA_EMP,IN_MANT_ESCOLA_PRIVADA_ONG,IN_MANT_ESCOLA_PRIVADA_OSCIP,IN_MANT_ESCOLA_PRIV_ONG_OSCIP,IN_MANT_ESCOLA_PRIVADA_SIND,IN_MANT_ESCOLA_PRIVADA_SIST_S,IN_MANT_ESCOLA_PRIVADA_S_FINS,TP_REGULAMENTACAO,TP_LOCALIZACAO_DIFERENCIADA,IN_EDUCACAO_INDIGENA
0,2020,568,2,2008,12,12,1,3,1,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
1,2020,591,1,2007,13,13,1,0,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
2,2020,592,9,2006,13,14,1,0,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
3,2020,593,8,2007,12,13,1,3,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
4,2020,594,12,2006,13,14,2,1,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
5,2020,596,5,2007,13,13,1,0,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
6,2020,597,5,2007,13,13,1,1,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
7,2020,600,3,2007,13,13,1,0,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
8,2020,601,12,2007,12,13,1,1,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
9,2020,604,8,2006,13,14,1,2,1,76,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0

In [ ]:
dados.to_sql(name='dados',if_exists='replace',index=False,uri='mysql+mysqldb://root:igti@localhost:3306/censo',chunksize=6000)